.header {
    height: 200px;
    background-color: #222222;
}

.header_title {
    color: #61dafb;
}

.logo {
    display: block;
    width: 5%;
}


.main {
    background-color: #19161F;
    height: 200px;
}

.main_title {
    color: #F91803 ;
}

.footer {
    background-color: #252525;
    height: 200px;
}



